.about-wrap {
  h2 {
    text-align: center;
    padding: 90px 0 45px;
    font: 400 40px "Quicksand";
    margin: 0;
  }
  &__img-text-wrap {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  &__text-wrap {
    @media (min-width: 768px) {
      margin: 0 auto;
      width: 50%;
    }
  }
  &__img-wrap {
    width: 250px;
    height: 250px;
    background-image: url("https://i.imgur.com/1GMd74w.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 45px;
    @media (min-width: 768px) {
      margin: 0 0 0 auto;
    }
    @media (min-width: 1000px) {
      width: 325px;
      height: 325px;
    }

  }
  p {
    padding: 0 20px;
    font: 400 18px "Quicksand";
    letter-spacing: 1px;
  }
  a {
    display: block;
    margin: 45px auto 0;
    text-decoration: none;
    text-align: center;
    font: 400 18px "Quicksand";
    border-radius: 50px;
    padding: 10px;
    color: white;
    background: #0b93ee;
    width: 150px;

    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
    &:hover {
      background: #1058a4;
    }
  }
}
