.about-wrap {
  h2 {
    text-align: center;
    margin: 70px 0 45px;
    font: 400 40px "Quicksand";
  }
  &__img-text-wrap {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  &__text-wrap {
    @media (min-width: 768px) {
      margin: 0 auto;
      width: 50%;
    }
  }
  &__img-wrap {
    width: 250px;
    height: 250px;
    background-image: url("/static/img/seyfat.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 45px;
    @media (min-width: 768px) {
      margin: 0 0 0 auto;
    }
    @media (min-width: 1000px) {
      width: 325px;
      height: 325px;
    }

  }
  p {
    padding: 0 20px;
    font: 400 18px "Quicksand";
    letter-spacing: 1px;
  }
  button {
    display: block;
    margin: 45px auto;
    font: 400 18px "Quicksand";
    border: none;
    border-radius: 50px;
    color: white;
    background: #0b93ee;
    width: 150px;
    height: 40px;

    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
    &:hover {
      background: #1058a4;
    }
  }
}
