.contact {
  padding: 100px 0 50px;
}
.contact-wrap {
  height: 700px;
  max-width: 900px;
  min-width: 350px;
  background: #1c304c;
  display: block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  @media (min-width: 900px) {
    display: flex;
    height: 600px;
    margin: 0 auto;
  }

  &__side-banner {
    width: 100%;
    height: 25%;

    display: flex;
    align-items: center;
    background: #f8f8f8;

    h2 {
      text-align: center;
      font: 400 30px "Quicksand";
      margin: 0;
      color: black;
      width: 100%;
    }
    @media (min-width: 900px) {
      width: 25%;
      height: 100%;
      h2 {
        transform: rotate(270deg);
      }
    }
  }
  &__form-heading-wrap {
    h2 {
      text-align: center;
      padding: 20px 0;
      font: 400 30px "Quicksand";
      margin: 0;
      color: white;
    }
    form {
      padding: 10px 0 20px;
    }
    @media (min-width: 900px) {
      width: 75%;
      h2 {
        padding: 50px 0 45px;
      }
    }
  }

  &__input-wrap {
    max-width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
    @media (min-width: 600px) {
      width: 75%;
    }

    label {
      display: block;
      color: white;
      font: 400 18px "Quicksand";
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    input {
      border-radius: 50px;
      background: rgba(0, 0, 0, 0.3);
      color: white;
      font: 400 18px "Quicksand";
      letter-spacing: 1.5px;
      padding: 8px 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid white;
      width: 100%;
    }
    #Details {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid white;
      background: none;
    }
  }

  &__submit-btn {
    display: block;
    margin: 10px auto 0;
    width: 150px;
    height: 40px;
    font: 400 18px "Quicksand";
    border: none;
    border-radius: 50px;
    color: white;
    background: #0b93ee;
    &:hover {
      background: #1058a4;
    }
  }
}
